/*
COLORS

--Primary: #eb2f64
--Primary-light: #FF3366
--Primary-dark: #BA265D

--Grey-light 1: #faf9f9
--Grey-light 2: #f4f2f2
--Grey-light 3: #f0eeee
--Grey-light 4: #ccc

--Grey-dark 1: #333
--Grey-dark 2: #777
--Grey-dark 3: #999
*/
:root {
  --Primary: #6647b9;
  --Primary-light: #e4e1ff;
  --Primary-dark: #af80f5;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--Grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--Primary-light), var(--Primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  background-color: var(--Grey-light-2);
  margin: 8rem auto;
  box-shadow: 3rem 3rem 4rem rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: white;
  border-bottom: 1px solid var(--Grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      height: 10rem;
      align-content: space-around; } }

.content {
  display: flex; }
  @media only screen and (max-width: 75em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--Grey-dark-1);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  flex-grow: 1; }

.details {
  display: flex;
  padding: 3.5rem;
  background-color: var(--Grey-light-1);
  font-size: 1.4rem; }
  @media only screen and (max-width: 75em) {
    .details {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .details {
      flex-direction: column; } }

.description {
  background-color: yellow;
  flex: 1;
  margin-right: 3.5rem;
  background-color: white;
  box-shadow: 0 2rem 5rem var(--Grey-light-4);
  padding: 3rem; }
  @media only screen and (max-width: 75em) {
    .description {
      margin-right: 3rem;
      padding: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin-right: 0;
      margin-bottom: 2rem; } }

.user-reviews {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.hidden {
  display: none; }

.logo {
  height: 3.25rem;
  margin-left: 1.5rem; }

.search {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex: 0 0 100%; } }
  .search__input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: var(--Grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.5rem;
    transition: all 0.2s; }
    @media only screen and (max-width: 31.25em) {
      .search__input {
        flex: 1;
        border-radius: 0; } }
    .search__input:focus {
      background-color: var(--Grey-light-3);
      outline: none;
      width: 100%; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--Grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--Grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--Grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--Grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--Grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--Grey-dark-2); }
  .user-nav__notification {
    font-size: 1rem;
    color: white;
    height: 1.7rem;
    width: 1.7rem;
    background-color: var(--Primary);
    border-radius: 50%;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .user-nav__user-name {
    text-transform: capitalize; }

.side-nav {
  font-size: 1.6rem;
  list-style: none;
  margin-top: 3rem; }
  @media only screen and (max-width: 75em) {
    .side-nav {
      display: flex;
      margin-top: 0; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
      @media only screen and (max-width: 75em) {
        .side-nav__item:not(:last-child) {
          margin-bottom: 0; } }
    @media only screen and (max-width: 75em) {
      .side-nav__item {
        flex: 1; } }
    @media only screen and (max-width: 75em) {
      .side-nav__item {
        display: flex;
        justify-content: center; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--Primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(0.99, 0.01, 0, 1) 0.2s, background-color 0.4s; }
  .side-nav__item:hover::before, .side-nav__item-active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__link:link, .side-nav__link:visited {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 1rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 1rem 2rem; } }
  .side-nav__link:active {
    background-color: var(--Primary-light); }
  .side-nav__icon {
    height: 2rem;
    width: 2rem;
    fill: currentColor;
    margin-right: 2rem; }

.legal {
  font-size: 1.5rem;
  color: var(--Grey-light-4);
  padding: 1rem;
  text-align: center; }
  @media only screen and (max-width: 75em) {
    .legal {
      display: none; } }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid var(--Grey-light-2); }
  .overview__heading {
    font-weight: 200;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    color: var(--Grey-dark-2);
    margin-right: 2rem;
    margin-left: 2rem; }
  .overview__stars {
    display: flex;
    margin-right: auto; }
  .overview__location {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    margin-right: 1.5rem; }
  .overview__icon-star, .overview__icon-location {
    height: 1.7rem;
    width: 1.7rem;
    fill: var(--Primary); }
  .overview__icon-location {
    margin-right: 0.5rem; }
  .overview__rating {
    align-self: stretch;
    background-color: var(--Primary);
    color: white;
    padding: 0.5rem 2rem;
    text-align: center;
    font-weight: 100; }
    .overview__rating-average {
      font-size: 2.5rem; }
    .overview__rating-count {
      font-size: 1rem;
      text-transform: uppercase; }

.btn-inline {
  border: none;
  color: var(--Primary);
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s; }
  .btn-inline span {
    margin-left: 0.3rem;
    transition: margin 0.5s; }
  .btn-inline:hover {
    color: var(--Grey-dark-1); }
    .btn-inline:hover span {
      margin-left: 0.8rem; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 2rem #ddd9d9; }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid var(--Grey-light-2);
  border-bottom: 1px solid var(--Grey-light-2);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
    display: flex;
    align-items: center; }
    .list__item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.5rem;
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover; }
      @supports (-webkit-mask-image: url()) or (mask-img: url()) {
        .list__item::before {
          background-color: var(--Primary);
          -webkit-mask-image: url(../img/chevron-thin-right.svg);
          -webkit-mask-size: cover;
          mask-image: url(../img/chevron-thin-right.svg);
          mask-size: cover;
          background-image: none; } }

.recommend {
  display: flex;
  align-items: center; }
  .recommend__count {
    font-size: 1.4rem;
    color: var(--Grey-dark-3);
    margin-right: auto; }
  @media only screen and (max-width: 75em) {
    .recommend__friends {
      display: flex; } }
  .recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    border-radius: 50%;
    border: 5px solid white; }
    .recommend__photo:not(:last-child) {
      margin-right: -2rem; }

.review {
  background-color: white;
  padding: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0 2rem 4rem #cfcece;
  position: relative; }
  .review__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 5; }
  .review__user-box {
    margin-right: auto; }
  .review__user {
    display: flex;
    align-items: center; }
    .review__user-photo {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      margin-right: 1rem; }
    .review__user-name {
      color: var(--Grey-dark-2);
      text-transform: uppercase;
      font-weight: 700; }
    .review__user-date {
      font-size: 1rem; }
  .review__rating {
    color: var(--Primary);
    font-size: 2.5rem;
    font-weight: 500; }
  .review::before {
    content: "\201C";
    font-size: 25rem;
    font-family: sans-serif;
    line-height: 1;
    position: absolute;
    top: -3rem;
    left: -1.5rem;
    color: var(--Grey-light-3);
    z-index: 1; }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  .cta__book-now {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 3rem;
    text-transform: uppercase; }

.btn {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  border: none;
  border-radius: 10rem;
  color: white;
  background-image: linear-gradient(to left, var(--Primary-light), var(--Primary-dark));
  overflow: hidden;
  position: relative; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.2s; }
  .btn__visible {
    padding: 2rem 7rem; }
  .btn__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:hover {
    background-image: linear-gradient(to right, var(--Primary-light), var(--Primary-dark)); }
